<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Add My Cases</h4>
          </div>
          <div [hidden]="submitted" class="card-content">
            <form (ngSubmit)="save()" #caseadd="ngForm">
              <div class="row">

                <div class="col-md-3">
                  <div class="form-group form-black label-floating is-empty">
                    <label class="form-control-label">Case ID</label>
                    <input id="case" type="text" [(ngModel)]="seniorCases[0].CASE_ID" name="case_id" class="form-control" required maxlength="5" #name="ngModel">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">

                      <div *ngIf="name.errors.required">
                        Valid ID is required.
                      </div>
                      <div *ngIf="name.errors.maxlength">
                        ID must not exceed 5 characters.
                      </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="form-control-label">Case title</label>
                      <input type="email" [(ngModel)]="seniorCases[0].CASE_TITLE" name="case_title" class="form-control" required minlength="1">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="form-control-label">Case Status</label>
                      <input type="text" [(ngModel)]="seniorCases[0].CASE_STATUS" name="case_status" class="form-control" required minlength="1">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="form-control-label">Charges</label>
                      <input type="text" [(ngModel)]="seniorCases[0].CHARGES" name="cahrge" class="form-control" required minlength="1">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group form-black label-floating is-empty">
                      <label class="form-control-label">Client ID</label>
                      <input type="text" [(ngModel)]="seniorCases[0].CLIENT_ID"name="client_id" class="form-control" required maxlength="5" #name="ngModel">
                      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
  
                        <div *ngIf="name.errors.required">
                          Valid Client ID is required.
                        </div>
                        <div *ngIf="name.errors.maxlength">
                          ID must not exceed 5 characters.
                        </div>
                        </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-danger pull-right" [disabled]="!caseadd.form.valid">ADD</button>
                <div class="clearfix"></div>
            </form>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">

          </div>
        </div>
      </div>
    </div>
  </div>